<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23133948183-p8iqprkvmq4ip7p4fvomb5ct2abl3q23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23133948183-p8iqprkvmq4ip7p4fvomb5ct2abl3q23</string>
	<key>API_KEY</key>
	<string>AIzaSyDvhXIxr3BJ7RbWS7upR4UDLrA18HhBWys</string>
	<key>GCM_SENDER_ID</key>
	<string>23133948183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RobbyApp.SumLit</string>
	<key>PROJECT_ID</key>
	<string>sumlit-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>sumlit-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23133948183:ios:051bdc3d5ca7c56c624f52</string>
	<key>DATABASE_URL</key>
	<string>https://sumlit-debug.firebaseio.com</string>
</dict>
</plist>